#### This is a project of Kindle Reviews Sentimental Analysis

#### Best Practicing
##### 1. Preprocessing and Cleaning
##### 2. Train Test Split
##### 3. BOW,TF-IDF,Word2Vec
##### 4. Train ML Algorithms

In [11]:
## loading of data
import pandas as pd
df = pd.read_csv('Kindle Reviews/all_kindle_review.csv')
df.head()

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",3,"Jace Rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",5,Great short read. I didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",3,I'll start by saying this is the first of four...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",3,Aggie is Angela Lansbury who carries pocketboo...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",4,I did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000

In [12]:
df = df[['reviewText','rating']]

In [13]:
df.head()

                                          reviewText  rating
0  Jace Rankin may be short, but he's nothing to ...       3
1  Great short read.  I didn't want to put it dow...       5
2  I'll start by saying this is the first of four...       3
3  Aggie is Angela Lansbury who carries pocketboo...       3
4  I did not expect this type of book to be in li...       4

In [14]:
df.shape

(12000, 2)

In [15]:
df.isnull().sum()

reviewText    0
rating        0
dtype: int64

In [16]:
df['rating'].unique()

array([3, 5, 4, 2, 1], dtype=int64)

In [17]:
df['rating'].value_counts()

rating
5    3000
4    3000
3    2000
2    2000
1    2000
Name: count, dtype: int64

In [18]:
## Preprocessing and Cleaning
## positive review is 1 and negative review is 0
df['rating'] = df['rating'].apply(lambda x:0 if x < 3 else 1)

In [19]:
df['rating'].unique()

array([1, 0], dtype=int64)

In [20]:
df.head()

                                          reviewText  rating
0  Jace Rankin may be short, but he's nothing to ...       1
1  Great short read.  I didn't want to put it dow...       1
2  I'll start by saying this is the first of four...       1
3  Aggie is Angela Lansbury who carries pocketboo...       1
4  I did not expect this type of book to be in li...       1

In [21]:
df['rating'].value_counts()

rating
1    8000
0    4000
Name: count, dtype: int64

In [23]:
## lowering of all the cases
df['reviewText'] = df['reviewText'].str.lower()

In [24]:
df['reviewText']

0        jace rankin may be short, but he's nothing to ...
1        great short read.  i didn't want to put it dow...
2        i'll start by saying this is the first of four...
3        aggie is angela lansbury who carries pocketboo...
4        i did not expect this type of book to be in li...
                               ...
11995    valentine cupid is a vampire- jena and ian ano...
11996    i have read all seven books in this series. ap...
11997    this book really just wasn't my cuppa.  the si...
11998    tried to use it to charge my kindle, it didn't...
11999    taking instruction is a look into the often hi...
Name: reviewText, Length: 12000, dtype: object

In [25]:
df.head()

                                          reviewText  rating
0  jace rankin may be short, but he's nothing to ...       1
1  great short read.  i didn't want to put it dow...       1
2  i'll start by saying this is the first of four...       1
3  aggie is angela lansbury who carries pocketboo...       1
4  i did not expect this type of book to be in li...       1

In [33]:
import re
import nltk
from nltk.corpus import stopwords
from bs4 import BeautifulSoup

In [34]:
## Removing all the special characters and stopwords
df['reviewText'] = df['reviewText'].apply(lambda x: re.sub('[a-zA-Z0-9]','',x))
## Remove the stopwords
df['reviewText'] = df['reviewText'].apply(lambda x: " ".join([y for y in x.split() if y not in stopwords.words('english')]))
## Removing the urls
df['reviewText'] = df['reviewText'].apply(lambda x: re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?','',str(x)))
## Remove Html Tags
df['reviewText'] = df['reviewText'].apply(lambda x: BeautifulSoup(x, 'lxml').get_text())
## Remove aditional spaces
df['reviewText'] = df['reviewText'].apply(lambda x: " ".join(s.split()))

FeatureNotFound: Couldn't find a tree builder with the features you requested: lxml. Do you need to install a parser library?